@model ATIMO.ViewModel.PessoaBeneficioViewModel

@{
    ViewBag.Title = "Átimo - Pessoa/Beneficio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("MenuAreaFuncionario")

<div class="main">
    <div class="container">
        <div class="row">
            <div class="widget">
                <div class="widget-header">
                    <i class="fa fa-plus-circle"></i>
                    <h3>PESSOAS / BENEFICIOS - NOVO</h3>
                </div>

                <div class="widget-content">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.Pessoa)
                        @Html.HiddenFor(model => model.Beneficio)

                        <fieldset>
                            <div class="form-group col-md-6">
                                <div>
                                    <label>BENEFICIO</label>
                                </div>

                                <div class="editor-field">
                                    @Html.DropDownList("BENEFICIO", null, "SELECIONE UM BENEFICIO", new { required = "", disabled = "" })
                                    @Html.ValidationMessageFor(model => model.Beneficio, "Selecione um beneficio!")
                                </div>
                            </div>

                            <div class="form-group col-md-2">
                                <div>
                                    <label>TIPO</label>
                                </div>

                                <select class="editor-field" name="tipodeducao" required="">
                                    @if ((Model != null) && (Model.TipoDeducao == "P"))
                                    {
                                        <option value="P" selected="selected">PERCENTUAL</option>
                                    }
                                    else
                                    {
                                        <option value="P">PERCENTUAL</option>
                                    }

                                    @if ((Model != null) && (Model.TipoDeducao == "V"))
                                    {
                                        <option value="V" selected="selected">VALOR</option>
                                    }
                                    else
                                    {
                                        <option value="V">VALOR</option>
                                    }
                                </select>
                            </div>

                            <div class="form-group col-md-2">
                                <div>
                                    <label>VALOR DEDUÇÃO</label>
                                </div>

                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.Deducao, new { @class = "form-control input-lg", maxlength = "18", placeholder = "VALOR", id = "valordeducao", required = "", alt = "decimal" })
                                    @Html.ValidationMessageFor(model => model.Deducao, "Informe um valor de dedução!")
                                </div>
                            </div>

                            <div class="form-group col-md-2">
                                <div>
                                    <label>SITUAÇÃO</label>
                                </div>

                                <select class="editor-field" name="situacao" required="">
                                    @if ((Model != null) && (Model.Situacao == "A"))
                                    {
                                        <option value="A" selected="selected">ATIVO</option>
                                    }
                                    else
                                    {
                                        <option value="A">ATIVO</option>
                                    }

                                    @if ((Model != null) && (Model.Situacao == "I"))
                                    {
                                        <option value="I" selected="selected">INATIVO</option>
                                    }
                                    else
                                    {
                                        <option value="I">INATIVO</option>
                                    }
                                </select>
                            </div>

                            <div class="col-md-12">
                                <input type="submit" value="Salvar" class="btn btn-primary" />
                                | @if (@Model != null)
                                  {
                                      @Html.ActionLink("Voltar", "Index", new { id = @Model.Pessoa })
                                  }
                            </div>

                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("RodapeFixo")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}