
@{
    ViewBag.Title = "ÁTIMO - Relatório Mensal ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("MenuFinanceiro")

<div class="main">
    <div class="container">
        <div class="row">
            <div class="widget">
                <div class="widget-header">
                    <i class="fa fa-th"></i>
                    <h3>RELATÓRIO MENSAL</h3>
                </div>

                <div class="widget-content" ng-app="App" ng-controller="AppController">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <fieldset>

                            <div class="col-md-12 table-responsive">
                                <table class="table table-hover table-bordered">
                                    <caption class="text-center">CLIENTES</caption>
                                    <thead>
                                        <tr>
                                            <th>
                                                NOME
                                            </th>

                                            <th>
                                                AÇÕES
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="cliente in clientes track by $index">
                                            <th>
                                                <select ng-options="option.nome for option in pessoas track by option.id"
                                                        ng-model="clientes[$index]"
                                                        class="form-control input-lg" />
                                            </th>

                                            <th>
                                                <button type="button" class="btn btn-danger" ng-click="remover_item($index)">Remover</button>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th colspan="6" class="text-center">
                                                <button type="button" class="btn btn-success" ng-click="novo_item()">Novo</button>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-md-12">
                                <hr />
                                <button type="button" data-toggle="tooltip" data-placement="right" title="" class="btn btn-info" data-original-title="Clique para pesquisar." ng-click="pesquisar();">
                                    <i class="glyphicon glyphicon-search"></i>
                                    Gerar Relatório
                                </button>
                                |
                                <a class="btn btn-danger" href="~/Financeiro/Index">
                                    <i class="fa fa-rotate-left"></i>
                                    Voltar
                                </a>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("Rodape")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="../../Scripts/angular.min.js"></script>

    <script>
        var app = angular.module("App", []);

        app.controller("AppController", function ($scope, $http) {

            $scope.clientes = []

            $scope.pessoas = @Html.Raw(Json.Encode(ViewBag.CLIENTES));

            $scope.novo_item = function () {
                $scope.clientes.push(null);
            }

            $scope.remover_item = function (index) {
                $scope.clientes.splice(index, 1);
            }


            $scope.pesquisar = function () {
                var params = {

                };

                params.clientes = $scope.clientes.map(function (cliente) { return cliente.id; });

                location.href = "/RelatorioMensal/Index/?" + jQuery.param(params, true);
        }

        });
    </script>
}