@model IEnumerable<ATIMO.Models.VEICULO>

@{
    ViewBag.Title = "ÁTIMO - Veiculos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("MenuAreaFuncionario")

<div class="main">
    <div class="container">
        <div class="row">
            <div class="widget">
                <div class="widget-header">
                    <i class="fa fa-automobile"></i>
                    <h3>VEICULOS</h3>
                </div>

                <div class="widget-content">
                    <div class="col-md-12">
                        <a class="btn btn-success" href="~/Veiculo/Create">
                            <i class="fa fa-plus-square-o"></i>
                            Incluir Novo
                        </a> |

                        <a class="btn btn-danger" href="~/AreaDoFuncionario/Index">
                            <i class="fa fa-rotate-left"></i>
                            Voltar para Cadastros
                        </a>

                        <hr />
                        <br />
                    </div>

                    <div class="col-md-12 table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        MARCA
                                    </th>

                                    <th>
                                        MODELO
                                    </th>

                                    <th>
                                        PLACA
                                    </th>

                                    <th>
                                        SITUAÇÃO
                                    </th>

                                    <th>
                                        AÇÕES
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayTextFor(modelItem => item.MARCA1.DESCRICAO)
                                        </td>

                                        <td>
                                            @Html.DisplayTextFor(modelItem => item.MODELO1.DESCRICAO)
                                        </td>

                                        <td>
                                            @Html.DisplayTextFor(modelItem => item.PLACA)
                                        </td>

                                        @switch (item.SITUACAO)
                                        {
                                            case "A":
                                                <td class="center">
                                                    <span class="label label-success">ATIVO</span>
                                                </td>
                                                break;
                                            default:
                                            <td class="center">
                                                <span class="label label-default">INATIVO</span>
                                            </td>
                                                break;
                                        }

                                        <td>
                                            <a class="btn btn-info" href="~/Veiculo/Edit/@item.ID" title="Editar">
                                                <i class="fa fa-edit"></i>
                                                @*Editar*@
                                            </a>

                                            <a class="btn btn-success" href="~/RateioVeiculo/Index/@item.ID" title="Rateio">
                                                <i class="fa fa-edit"></i>
                                                @*Editar*@
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-12">
                        <hr />

                        <a class="btn btn-success" href="~/Veiculo/Create">
                            <i class="fa fa-plus-square-o"></i>
                            Incluir Novo
                        </a> |

                        <a class="btn btn-danger" href="~/AreaDoFuncionario/Index">
                            <i class="fa fa-rotate-left"></i>
                            Voltar para Cadastros
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("Rodape")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}