@model ATIMO.Models.CONTA_BANCARIA

@{
    ViewBag.Title = "ÁTIMO - Conta Bancária";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("MenuFinanceiro")

<div class="main">
    <div class="container">
        <div class="row">
            <div class="widget">
                <div class="widget-header">
                    <i class="fa fa-book"></i>
                    <h3>CONTA BANCÁRIA - NOVO</h3>
                </div>

                <div class="widget-content">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <fieldset>

                            <div class="form-group col-md-12">
                                <div>
                                    <label>PESSOA</label>
                                </div>

                                <div class="editor-field">
                                    @Html.DropDownList("PESSOA", null, "SELECIONE UMA PESSOA", new { required = "", id = "pessoa", name = "PESSOA" })
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <div>
                                    <label>BANCO</label>
                                </div>

                                <div class="editor-field">
                                    @Html.DropDownList("BANCO", null, "SELECIONE UM BANCO", new { required = "", id = "banco", name = "BANCO" })
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <div>
                                    <label>TIPO DE CONTA</label>
                                </div>

                                <div class="editor-field">
                                    @Html.DropDownList("TIPO_CONTA", null, "SELECIONE UM TIPO DE CONTA", new { required = "", id = "tipo_conta", name = "TIPO_CONTA" })
                                </div>
                            </div>

                            <div class="form-group col-md-3">
                                <div>
                                    <label>NUM CONTA</label>
                                </div>

                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.NUM_CONTA, new { @class = "form-control input-lg", maxlength = "100", required = "required", id = "num_conta" })
                                </div>
                            </div>

                            <div class="form-group col-md-2">
                                <div>
                                    <label>DIG CONTA</label>
                                </div>

                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.DIG_CONTA, new { @class = "form-control input-lg", maxlength = "100", required = "required", id = "dig_conta" })
                                </div>
                            </div>


                            <div class="form-group col-md-3">
                                <div>
                                    <label>NUM AGÊNCIA</label>
                                </div>

                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.NUM_AGENCIA, new { @class = "form-control input-lg", maxlength = "100", required = "required", id = "num_agencia" })
                                </div>
                            </div>


                            <div class="form-group col-md-2">
                                <div>
                                    <label>DIG AGÊNCIA</label>
                                </div>

                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.DIG_AGENCIA, new { @class = "form-control input-lg", maxlength = "100", required = "required", id = "dig_agencia" })
                                </div>
                            </div>

                            <div class="form-group col-md-2">
                                <div>
                                    <label>SALDO INICIAL</label>
                                </div>

                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.SALDO_INICIAL_STRING, new { @class = "form-control input-lg decimal", maxlength = "100", required = "required", id = "saldo_inicial" })
                                </div>
                            </div>

                            <div class="col-md-12">
                                <hr />

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-check-square-o"></i> Salvar
                                </button>

                                |
                                <a class="btn btn-danger" href="~/ContaBancaria/Index">
                                    <i class="fa fa-rotate-left"></i>
                                    Voltar
                                </a>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
            <br>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="/Scripts/accounting.min.js"></script>

    <script>
        $(".decimal").on('blur', function () {
            $(this).val(accounting.formatNumber(accounting.unformat($(this).val(), ','), 2, '', ','));
        })
    </script>
}