@model ATIMO.Models.PROJETO

@{
    ViewBag.Title = "ÁTIMO - Unidades de Negócio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("MenuAreaFuncionario")

<div class="main">
    <div class="container">
        <div class="row">
            <div class="widget">
                <div class="widget-header">
                    <i class="fa fa-list-ol"></i>
                    <h3>PROJETO - NOVO</h3>
                </div>

                <div class="widget-content">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <fieldset>
                            <div class="form-group col-md-12">
                                <div>
                                    <label>DESCRIÇÃO</label>
                                </div>

                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.DESCRICAO, new { @class = "form-control input-lg uppercase", maxlength = "200", placeholder = "DESCRIÇÃO", id = "descricao", required = "" })
                                </div>
                            </div>

                            <div class="col-md-12">
                                <hr />

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-check-square-o"></i> Salvar
                                </button>

                                |
                                <a class="btn btn-danger" href="~/Projeto/Index">
                                    <i class="fa fa-rotate-left"></i>
                                    Voltar
                                </a>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("RodapeFixo")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}